<!DOCTYPE html>
<html lang="pt-br">
{% extends 'base.html' %}

{% block title %}Adicionar ao Estoque{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='static/css/adicionar_estoque.css') }}">


<form method="POST">
    <h2>Adicionar ao Estoque</h2>

    {% if erro %}
    <p class="erro">{{ erro }}</p>
    {% elif sucesso %}
    <p style="color: lightgreen; font-weight: bold; text-align: center;">{{ sucesso }}</p>
    {% endif %}

    <!-- Produto -->
    <label for="produto_id" style="font-weight: bold; color: #fff;">Produto:</label>
    <select name="produto_id" required style="width: 100%; padding: 0.5rem; margin-bottom: 1rem; border-radius: 5px; border: none;">
        <option value="">Selecione um produto</option>
        {% for produto in produtos %}
        <option value="{{ produto.id }}">{{ produto.nome }}</option>
        {% endfor %}
    </select>

    <!-- Quantidade a Adicionar -->
    <label for="quantidade" style="font-weight: bold; color: #fff;">Quantidade a adicionar:</label>
    <input type="number" name="quantidade" min="1" required placeholder="Quantidade a adicionar" style="padding: 0.5rem; margin-bottom: 1rem; border-radius: 5px; border: none;">

    <!-- Botão de Envio -->
    <button type="submit">Adicionar ao Estoque</button>
</form>

{% endblock %}
</html>
