<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    
</head>
<body>
    <header>
        <h1>Sistema de Controle</h1>
        <nav>
            <a href="/home">🏠 Home</a>
            <a href="/painel">📦 Estoque</a>
            <a href="/cadastrar-produto">➕ Cadastrar Novo Produto</a>
            <a href="/inventario-estoque">📥 Inventário de Estoque</a>
            <div class="menu-vendas">
                <a href="#">🧾 Vendas ▾</a>
                <div class="submenu">
                    <a href="/registrar-venda">Registrar Venda</a>
                    <a href="/cadastrar-pagamento">Tipo de Pagamento</a>
                    <a href="/listar-vendas">Historico de Vendas</a>
                </div>
            </div>            
            <a href="/logout">🚪 Sair</a>
        </nav>
    </header>

<!-- Integração da API VLibras -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>
        <!-- VLibras Widget -->
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
        <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
        <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
        </script>
        
</body>
</html>
