<!DOCTYPE html>
<html lang="pt-br">
{% extends 'base.html' %}

{% block title %}Cadastrar Usuário{% endblock %}

{% block content %}

 <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastrar_usuario.css') }}">
 
<form method="POST">
    <h2>Criar Conta</h2>

    <label>Usuário</label>
    <input type="text" name="username" required>

    <label>Senha</label>
    <input type="password" name="senha" required>

    <button type="submit">Cadastrar</button>

    {% if erro %}
        <p style="color: red;">{{ erro }}</p>
    {% elif sucesso %}
        <p style="color: lightgreen;">{{ sucesso }}</p>
    {% endif %}

    <p>
        <a href="/" style="color: lightblue;">Voltar ao login</a>
    </p>
</form>
{% endblock %}
</html>
