<!DOCTYPE html>
<html lang="pt-br">
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Home.css') }}">

<h1>Bem-vindo, {{ usuario }}!</h1>

<div class="dashboard">
    <div class="card">
        <h2>Total em Estoque</h2>
        <p>{{ total_estoque }}</p>
    </div>
    <div class="card">
        <h2>Total Vendido</h2>
        <p>{{ total_vendido }}</p>
    </div>
    <div class="card">
        <h2>Vendas Realizadas (R$)</h2>
        <p>R$ {{ valor_total }}</p>
    </div>
</div>
{% endblock %}
</html>
