<!DOCTYPE html>
<html lang="pt-br">
{% extends 'base.html' %}

{% block title %}Inventário de Estoque{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inventario_estoque.css') }}">

<form method="POST">
    <h2>Inventário de Estoque</h2>

    {% if erro %}
    <p class="erro">{{ erro }}</p>
    {% elif sucesso %}
    <p class="sucesso">{{ sucesso }}</p>
    {% endif %}

    <!-- Adicionar ao Estoque -->
    <label for="produto_id_adicionar" style="font-weight: bold; color: #fff;">Produto para Adicionar:</label>
    <select name="produto_id_adicionar">
        <option value="">Selecione um produto</option>
        {% for produto in produtos %}
        <option value="{{ produto.id }}">{{ produto.nome }}</option>
        {% endfor %}
    </select>

    <label for="quantidade_adicionar" style="font-weight: bold; color: #fff;">Quantidade a Adicionar:</label>
    <input type="number" name="quantidade_adicionar" min="1" placeholder="Quantidade a adicionar">

    <!-- Remover do Estoque -->
    <label for="produto_id_remover" style="font-weight: bold; color: #fff;">Produto para Remover:</label>
    <select name="produto_id_remover">
        <option value="">Selecione um produto</option>
        {% for produto in produtos %}
        <option value="{{ produto.id }}">{{ produto.nome }}</option>
        {% endfor %}
    </select>

    <label for="quantidade_remover" style="font-weight: bold; color: #fff;">Quantidade a Remover:</label>
    <input type="number" name="quantidade_remover" min="1" placeholder="Quantidade a remover">

    <!-- Botão de Envio -->
    <button type="submit">Atualizar Estoque</button>
</form>

{% endblock %}
</html>
